<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>Database Operations</title>
    <style>
        a 
        {
            color:red;
            display: block;
            margin: 10px;
            padding: 0px;
            font-weight: 800;
            font-size: 20px;
            border: 20px;
            box-shadow: 10px;
        }
        
      </style>
</head>
<body>
    <a href="/add_employee" >1.) Add new Employee Record</a>
    <br>
    <a href="/display_employee">2.) Display all Employee records</a>
    <br>
    <a href="/update_employee">3.) Update Employee records</a>
    <br>
    <a href="/delete_employee">4.) Delete Employee records</a>
</body>
</html>