<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
</head>
<body>
    <h1>Submit a Form</h1>
    <form action="/update" method="post">
        <label for="emp_id">emp_id:</label>
        <input type="text" id="emp_id" name="emp_id"><br><br>

        <label for="city">update city:</label>
        <input type="text" id="city" name="city" required><br><br>

        <label for="country">update country:</label>
        <input type="text" id="country" name="country" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>