<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <h1>Flask File Uploads Tutorial</h1>
        <!-- <img src="../uploads/mango.jpeg"  width="700" height="400"> -->
        <form action="/show" method='POST' enctype='multipart/form-data'>
            <label for="myfile">Select a file:</label>
            <input type="file" id="file1" name="file1"><br>
            <input type="submit" value = "submit">
            
        </form>
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        {% if filename %}
            <div>
                <p>{{ filename }}</p>
                <img src="{{ url_for('display_image', filename=filename) }}">
            </div>
        {% endif %}
    </body>
</html>