<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Book</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-6">
              <h2>Add Book</h2>
              <form action="/insertion" method="POST">
                  
                  <div class="form-group">
                  <label for="book_id">book_id:<span class="text-danger">*</span></label>
                  <input type="book_id" class="form-control" id="book_id" placeholder="Enter book_id" name="book_id" required>
                  </div>
                  <div class="form-group">
                  <label for="author">author name:<span class="text-danger">*</span></label>
                  <input type="author" class="form-control" id="author" placeholder="Enter author name" name="author" required>
                  </div>
                  <div class="form-group">
                  <label for="book">book title:<span class="text-danger">*</span></label>
                  <input type="book" class="form-control" id="book" placeholder="Enter book title" name="book" required>
                  </div>
                  <button type="submit" class="btn bg-primary text-white">Submit</button>
              </form>
          </div>
        </div>
      </div>
      <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
              <a href="/">Back to home page.</a>
            </div>
        </div>
    </div>

</body>
</html>
